{% extends "common_template.html.twig" %}

{% block checkoutFormArea %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                {{ form(checkoutCustomerForm) }}
            </div>
        </div>
        <div class="row">
            <div class="col-11">
            </div>
        </div>
    </div>
{% endblock checkoutFormArea %}