{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row mb-3">
            {% block links %}
                <div class="col-md-10">
                    <div class="p-3">
                        {{ wo_render_breadcrumbs() }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="p-3">
                        <a href="/admin" class="btn btn-primary">Go to Administration</a>
                    </div>
                </div>
            {% endblock links %}
        </div>
        <div class="row mb-5">
            <div class="col-md-9">
                {% block orderedPizzasArea %}
                {% endblock orderedPizzasArea %}
                {% block checkoutFormArea %}
                {% endblock checkoutFormArea %}
            </div>
            <div class="col-md-3">
                {% block receiptArea%}
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                {% block receipt%}
                                    <div id="receipt">
                                        <div class="card">
                                            <h5 class="card-header">ORDER: {{ order.getId() }}</h5>
                                            <div class="card-body">
                                                {% for orderedPizza in order.getOrderedPizzas().toArray() %}
                                                    <h5 class="card-title">{{ orderedPizza.getPizza().getName() }} -> {{ orderedPizza.getPizza().getPrice().getAmount() }} €</h5>

                                                    {% if orderedPizza.getExtras().toArray() is not empty %}
                                                        {% for extrasPizza in orderedPizza.getExtras().toArray() %}
                                                            <p class="card-text">{{ extrasPizza.getName() }} -> {{ extrasPizza.getPrice().getAmount() }} €</p>
                                                        {% endfor %}
                                                    {% endif %}

                                                {% endfor %}
                                                <h4>PRICE: {{ order.getTotalPrice() }} €</h4>
                                                {% if pathUri != '/checkout' and order.getOrderedPizzas|length > 0 %}
                                                    <a href="{{ checkoutRoute }}" class="btn btn-primary">Finish Order</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endblock receipt%}
                            </div>
                        </div>
                    </div>
                {% endblock receiptArea %}
            </div>
        </div>
        {% block pizzaListingArea %}
        {% endblock pizzaListingArea %}
    </div>
{% endblock %}