{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
    <div>
        <table class="order-dashboard-listing-table">
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th{% if pagination.isSorted('o.total_price') %} class="sorted"{% endif %} class="p-2">
                    {{ knp_pagination_sortable(pagination, 'Total Price', 'o.total_price') }}
                </th>
                <th{% if pagination.isSorted('o.created_at') %} class="sorted"{% endif %} class="p-2">
                    {{ knp_pagination_sortable(pagination, 'Created at', 'o.created_at') }}
                </th>
                <th{% if pagination.isSorted('o.finished_at') %} class="sorted"{% endif %} class="p-2">
                    {{ knp_pagination_sortable(pagination, 'Finished at', 'o.finished_at') }}
                </th>
                <th> Ordered Pizzas</th>
            </tr>

            {# table body #}
            {% for order in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ order.getId() }}</td>
                    <td>
                        <a class="btn btn-primary" data-toggle="collapse" href="#customerCollapse{{ order.getId() }}" role="button" aria-expanded="false" aria-controls="customerCollapse">
                            Click to customer details
                        </a>
                    </td>
                    <td>{{ order.getTotalPrice() }} €</td>
                    <td>{{ order.getCreatedAt() | date('d-m-Y H:i:s') }}</td>
                    <td>{{ order.getFinishedAt() | date('d-m-Y H:i:s') }}</td>
                    {% if order.orderedPizzas|length > 0 %}
                        <td>
                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ order.getId() }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Click to ordered pizzas details
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <table>
            {% for order in pagination %}
                <div class="collapse" id="customerCollapse{{ order.getId() }}">
                    <div class="card card-body">
                        <div>
                            Name: {{ order.getCustomer.getFirstName }} {{ order.getCustomer.getLastName }}
                        </div>
                        <div>
                            Adress: {{ order.getCustomer.getAddress }}
                        </div>
                        <div>
                            Phone: {{ order.getCustomer.getPhone.getPhoneNumber }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </table>
        <table>
            {% for order in pagination %}
                {% if order.orderedPizzas|length > 0 %}
                    <div class="collapse" id="collapseExample{{ order.getId() }}">
                        <div class="card card-body">
                            {% for orderedPizza in order.orderedPizzas %}
                                <div class="card card-body">
                                    {{ orderedPizza.getPizza.getName }} -> {{ orderedPizza.getPizza.getPrice.getAmount }} €
                                    {% if orderedPizza.getExtras|length > 0 %}
                                        <div>
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#extraPizza{{ orderedPizza.getId }}" aria-expanded="false" aria-controls="extraPizza">
                                                Pizza extras details
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if orderedPizza.getExtras|length > 0 %}
                                    <div class="collapse" id="extraPizza{{ orderedPizza.getId }}">
                                        <div class="card card-body">
                                            {% for orderedPizzaExtra in orderedPizza.getExtras %}
                                                <div>
                                                    {{ orderedPizzaExtra.getName }} -> {{ orderedPizzaExtra.getPrice.getAmount }} €
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block body_javascript %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock body_javascript %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
    <link href="{{ asset('assets/css/main.min.css') }}" rel="stylesheet" />
{% endblock head_stylesheets%}