{% block extra_selection %}
    <div id="extra_selection">
        {% for orderedPizza in orderedPizzasArray %}
            <div class="card p-3">
                <div class="card-header" id="pizza_{{ orderedPizza.id }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <h5>
                                    {{ orderedPizza.pizza.name }}
                                </h5>
                            </div>
                            <div class="col-2">
                                <div>
                                    {{ orderedPizza.pizza.price.amount }} €
                                </div>
                            </div>
                            <div class="col-3">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-link extra-collapse" data-toggle="collapse" data-target="#collapse_pizza_{{ orderedPizza.id }}" aria-expanded="false" aria-controls="collapse_pizza_{{ orderedPizza.id }}">
                                    Add Extras
                                </button>
                            </div>
                            <div class="col-2">
                                {{ form(_context['removeOrderedPizzaForm' ~ orderedPizza.id]) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse_pizza_{{ orderedPizza.id }}" class="collapse">
                    <div class="card-body">
                        {{ form(_context['extraForm' ~ orderedPizza.id]) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock extra_selection%}

<script src="{{ asset('assets/js/main.js') }}"></script>