{% extends "base.html.twig" %}

{% block body %}
    <div class="container">

        <div class="row">
            {% block links %}
                <div class="col-md-10">
                    <div class="p-3">
                        {{ wo_render_breadcrumbs() }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="p-3">
                        <a href="/admin" class="btn btn-primary">Go to Administration</a>
                    </div>
                </div>
            {% endblock links %}
        </div>

        <div class="row">
            <div class="col-12">
                {% if success == false %}
                    <div class="alert alert-danger mt-5" role="alert">
                        {{ message}}
                    </div>
                {% endif %}
                {% if success == true %}
                <div class="alert alert-success mt-5" role="alert">
                    {{ message}}
                </div>
                {% endif %}
            </div>
        </div>

        {% if success == true %}
        <div class="row">
            <div class="col-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Customer
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name -> {{ customer.firstName }} {{ customer.lastName }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock body %}