{% extends "common_template.html.twig" %}

{% block orderedPizzasArea %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="p-3">
                    <h2>Your ordered pizzas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                {% block extra_selection %}
                    <div id="extra_selection">
                        {% for orderedPizza in orderedPizzasArray %}
                            <div class="card p-3">
                                <div class="card-header" id="pizza_{{ orderedPizza.id }}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-3">
                                                <h5>
                                                    {{ orderedPizza.pizza.name }}
                                                </h5>
                                            </div>
                                            <div class="col-2">
                                                <div>
                                                    {{ orderedPizza.pizza.price.amount }} €
                                                </div>
                                            </div>
                                            <div class="col-3">
                                            </div>
                                            <div class="col-2">
                                                <button class="btn btn-link extra-collapse" data-toggle="collapse" data-target="#collapse_pizza_{{ orderedPizza.id }}" aria-expanded="false" aria-controls="collapse_pizza_{{ orderedPizza.id }}">
                                                    Add Extras
                                                </button>
                                            </div>
                                            <div class="col-2">
                                                {{ form(_context['removeOrderedPizzaForm' ~ orderedPizza.id]) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse_pizza_{{ orderedPizza.id }}" class="collapse">
                                    <div class="card-body">
                                        {{ form(_context['extraForm' ~ orderedPizza.id]) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock extra_selection%}
            </div>
        </div>
    </div>
{% endblock orderedPizzasArea %}

{% block pizzaListingArea %}
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="p-3">
                        <h2>Pizzas</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% block pizza_listing %}
                        {% for pizzasRow in pizzasArray|batch(3) %}
                            <div class="row">
                                {% for pizza in pizzasRow %}
                                    {% block pizza_individual_card %}
                                        <div class="card m-3 p-3" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ pizza.name }}</h5>
                                                <p class="card-text">{{ pizza.price.amount }} €</p>
                                                <p class="card-text">{{ pizza.description }}</p>
                                            </div>
                                            <div class="pizzaForm">
                                                {% block pizza_form %}
                                                    {{ form(_context['pizzaForm' ~ pizza.id]) }}
                                                {% endblock pizza_form %}
                                            </div>
                                        </div>
                                    {% endblock pizza_individual_card %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endblock pizza_listing%}
                </div>
            </div>
        </div>
    </div>
{% endblock pizzaListingArea %}