{% block receipt%}
    <div id="receipt">
        <div class="card">
            <h5 class="card-header">ORDER: {{ order.getId() }}</h5>
            <div class="card-body">
                {% for orderedPizza in order.getOrderedPizzas().toArray() %}
                    <h5 class="card-title">{{ orderedPizza.getPizza().getName() }} -> {{ orderedPizza.getPizza().getPrice().getAmount() }} €</h5>

                    {% if orderedPizza.getExtras().toArray() is not empty %}
                        {% for extrasPizza in orderedPizza.getExtras().toArray() %}
                            <p class="card-text">{{ extrasPizza.getName() }} -> {{ extrasPizza.getPrice().getAmount() }} €</p>
                        {% endfor %}
                    {% endif %}

                {% endfor %}
                <h4>PRICE: {{ order.getTotalPrice() }} €</h4>
                {% if pathUri != '/checkout' and order.getOrderedPizzas|length > 0 %}
                    <a href="{{ checkoutRoute }}" class="btn btn-primary">Finish Order</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock receipt%}

<script src="{{ asset('assets/js/main.js') }}"></script>